/* veriables */
:root{
    --main-color:#ffcc01;
}

/* global rules */
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
 /* file style */

 .navbar-light .navbar-nav .nav-link,
 .last-nav  .nav-item .nav-link {
    color: black;
    font-weight: 400;
    font-size: .9rem;
}
.navbar-brand{
    font-weight: 600;
}
.last-nav   .focuse{
    background-color: var(--main-color);
    border-radius: 5px;
}
.header-text svg{
    margin:auto 5px;
}
.header-text input{
    border: none
}
.header-text button{
    background: var(--main-color);
    font-size: .75rem;
    width: 45%;
}
.header-text .d-flex{
     
} 
.header-text {
    margin: auto;
    transform: translate(50%);
}
.header-text h1{
    font-family: mate sc;
}
header .row{
    position: relative;
}
header 
