/* veriables */
:root{
    --main-color:#ffcc01;
}

/* global rules */
body{
    font-family: 'Montserrat', sans-serif;
}
 /* file style */

 .navbar-light .navbar-nav last-nav,
 .last-nav .nav-link {
    color: black;
}