/* veriables */
:root{
    --main-color:#ffcc01;
    --section-padding:60px;
}

/* global rules */
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
 /* file style */
 /* my style */
 .search-form{
     background-color: white;
 }
 .search-form svg{
    margin:auto 5px;
}
.search-form input{
    border: none
}
.search-form button{
    background: var(--main-color);
    font-size: .75rem;
    width: 45%;
}
 /* my style */

 .navbar-light .navbar-nav .nav-link,
 .last-nav  .nav-item .nav-link {
    color: black;
    font-weight: 400;
    font-size: .9rem;
}
.navbar-brand{
    font-weight: 600;
}
.last-nav   .focuse{
    background-color: var(--main-color);
    border-radius: 5px;
}


.header-text .d-flex{
     
} 
.header-text h1{
    font-family: mate sc;
}
@media (min-width:768px){
.header-text {
    margin: auto;
    transform: translate(50%);
}

}
    @media (max-width:767px) {
        .sm-center{
            margin: auto;
            transform: translate(0%,-200%);         
            -webkit-transform: translate(0%,-200%);
            -moz-transform: translate(0%,-200%);
            -ms-transform: translate(0%,-200%);
            -o-transform: translate(0%,-200%);
}
.wrab{
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
}
    }
/* .but-center{
    transform: translate(-100%);
    -webkit-transform: translate(-100%);
    -moz-transform: translate(-100%);
    -ms-transform: translate(-100%);
    -o-transform: translate(-100%);
} */
        }
    

header .row{
    position: relative;
}
header .image-section{
  position: relative;
}
.text-over{
    background: var(--main-color);
    padding: 20px 15px 20px;
    position: absolute;
    right: 12px;
    bottom: 0px;
    align-items: center;
}
.mr-2{
    margin-right:.5rem;
}
.down-svg{
    align-items: center;
}
.down-svg h6{
    margin: auto;
}
.mr-1{
    margin-right:1.25rem;
}
.section{
    padding-top:var(--section-padding) ;
    padding-bottom:var(--section-padding) ;
}
.company-cards .card{
    background-color: #f6f5f4;
    border: none;
    
  
    }
    .company-cards .card h2{
        color:var(--main-color);
        font-weight: 600;
    }
    .company-cards .card h6{
        font-weight: 600;
        font-size: .9rem;
        color: black;
    }
    .cards-section .card .price h3{
        color:var(--main-color)
    }
    .cards-section{
        background-color:#f6f5f4 ;
    }
    .cards-section .search-part .bt-wh {
        border:none;
        background-color: white;
        color:black;
    }
    
    .cards-section .search-part .bt-wh:hover{
        background-color: var(--main-color);
        color:black;
    }
    .how-section .card{
        border:none;
    }
    .how-section .card .cord-body{
        po
    }
    .how-section .card .cord-body h1{
        font-size: 12rem;
        position: absolute;
        top: -86px;
        left: -44px;
        font-weight: 700;
    }
