/* veriables */
:root{
    --main-color:#ffcc01;
}

/* global rules */
body{
    font-family: 'Montserrat', sans-serif;
}
 /* file style */
  .nav-link
 {
     color:rgb(0,0,0,.9);
     background-color: red;
 }
 .navbar-light .navbar-nav .nav-link.hover{
display: none;
 }
 .navbar-light .navbar-nav .nav-link.active
